@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: Roboto;
}

.logo {
  font-size: 3vw;
  white-space: nowrap;
  letter-spacing: -0.08em;
  font-family: Roboto;
}

.resilient {
  color: #B52626;
}

.scale {
  color: #C7C7C7;
}

.copyright {
  font-size: 0.9vw;
  color: #545454;
}

.quicklinks {
  font-size: 0.9vw;
}

.quicklinks a {
  color: #545454;
}

.divider {
  border-right: 1px solid;
  margin: 30px;
}

header .intro-text .intro-lead-in {
  font-size: 3vw;
}

header .intro-text .intro-heading {
  font-size: 5vw;
  letter-spacing: -3px;
}

.expertise-image {
  max-height: 200px;
  min-height: 200px;
}
